/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import url(//db.onlinewebfonts.com/c/a6bec1c4ef2d2fd1bac5a6951f5f32a3?family=American+Captain);

$theme-colors: (primary: #525ddc);

$texas-cars-colors: (
  blue: #4DADE9
  red: #D93731
  black: #000000
  white: #FFFFFF
);

//left to right gradient
$linear-gradient: (
  background-image: linear-gradient(to right, #000000, #191919, #2c2c2c, #3f3f3f, #545454)
);

//top right corner to bottom left corner gradient
$diagonal-gradient: (
  background-image: linear-gradient(to right bottom, #000000, #191919, #2c2c2c, #3f3f3f, #545454)
);

$heading-font: (
  font: "American Captain", sans-serif
);

$standard-font: (
  font: "Helvetica Neue", sans-serif
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Viewport Breakpoints **/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// TxMovieCar Blue
$blue: #4dade9;
// TxMovieCar Red
$red: #d93731;
// Left to Right Gradient
$leftToRightGradient: linear-gradient(to right, #000, #191919, #2c2c2c, #3f3f3f, #545454);

// Diagonal Gradient
$diagonalGradient: linear-gradient(to right bottom, #000, #191919, #2c2c2c, #3f3f3f, #545454);

// American Captain Font
.americanCaptain {
  font-family: "American Captain", sans-serif;
  font-weight: normal;
  font-style: normal;
}

// Small devices
@mixin min-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin min-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin min-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin min-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin max-rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

// Small devices
@mixin max-sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin max-md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin max-lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin max-xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin max-rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
