nav .navLogo {
  width: 500px;
  max-width: 95%;

  // Tablet
  @include max-rwd(1366) {
    width: 400px;
  }

  // Tablet
  @include max-rwd(1115) {
    width: 300px;
  }

  // Mobile
  @include max-lg {
    width: 300px;
  }

  // Mobile Smaller
  @include max-sm {
    width: 250px;
  }

  // Mobile Extra Small
  @include max-xs {
    width: 200px;
  }
}

nav .navBarPhoneContainer {
  display: block;

  // Paragraph Text
  p {
    color: $blue;
    font-family: "American Captain", serif;
    font-size: 2rem;

    // Mobile Styles
    @include max-lg {
      text-align: center;
    }

    @include max-rwd(1115) {
      font-size: 1rem;
      margin-top: 2rem;
    }

    // Phone
    @include max-rwd(500) {
      font-size: 2rem;
    }
  }

  // Link
  a {
    color: $red;
    font-weight: bold;
  }
}

.navbar {
  background: $leftToRightGradient;
  border-bottom: 8px solid $red;
}

nav .nav-link {
  color: white;
  font-size: 2rem;

  // Tablet
  @include max-rwd(1366) {
    font-size: 2rem;
    padding: 0.5rem;
  }

  // Tablet
  @include max-rwd(1115) {
    font-size: 2rem;
    padding: 0.5rem;
  }

  // Phone
  @include max-rwd(500) {
    font-size: 2rem;
    padding: 0.75rem;
  }
}

nav .navBars svg {
  color: white;
  fill: white !important;
}

nav .nav {

  // Mobile Styles
  @include max-lg {
    flex-direction: column;
    text-align: center;
  }

  // Link Hover
  a:hover {
    color: $red;
    transition: 0.5s ease;
  }

  // Last Link
  li:last-of-type {
    background-color: #000;
    border-radius: 10px;
    transition: 0.5s ease;

    &:hover {
      background-color: $red;
      transition: 0.5s ease;
      transform: scale(1.1);
    }

    // Link Color
    a {
      color: $red;
      transition: 0.5s ease;

      &:hover {
        color: white;
        transition: 0.5s ease;
      }
    }
  }
}
